<% layout('./layouts/boilerplate') %>

<form class="col-6 offset-3 my-3">
    <h1>Edit</h1>
    <div class="my-3">
        <a href="/properties/<%=property._id%>">back to <%=property.address%></a>
    </div>
    <img src="<%=property.image%>" class="w-100" style="height: 400px;" alt="property image">
    <div class="my-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" name="property[address]" id="address" class="form-control" value="<%=property.address%>">
    </div>
    <div class="mb-3">
        <label class="form-label" for="numberRooms">Rooms</label>
        <input class="form-control" type="number" name="property[numberRooms]" id="numberRooms" value="<%=property.numberRooms%>">
    </div>
    <div class="mb-3">
        <label class="form-label" for="rent">Rent</label>
        <input class="form-control" type="number" name="property[monthlyRent]" id="rent" value="<%=property.monthlyRent%>">
    </div>
    <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="property[description]" id="description" cols="30" rows="5"><%=property.description%></textarea>
    </div>
    <button type="sumbit" class="btn btn-success">Edit</button>
</form>