<% layout('./layouts/boilerplate') %>
<div class="col-6 offset-3 my-3">
    <h1><%= property.address %></h1>
    <div class="my-3">
        <a href="/properties">All properties</a>
    </div>
    <img src="<%=property.image%>" class="w-100" style="height: 400px;" alt="property image">
    <p class="my-3"><%= property.description %><p>
    <p class="display-6">£<%= property.monthlyRent %><p>
    <p class="display-6"><%= property.numberRooms %> <%= property.numberRooms === 1 ? 'Room' : 'Rooms' %><p>
    <div class="d-flex">
        <form action="/properties/<%=property._id%>/edit">
            <button class="btn btn-warning">Edit</button>
        </form>
        <form action="/properties/<%=property._id%>?_method=DELETE" method="POST">
            <button class="ms-2 btn btn-danger">Delete</button>
        </form>
    </div>
</div>