<% layout('./layouts/boilerplate') %>
<div class="col-6 offset-3 my-3">   
    <div id='map' style='width: 400px; height: 300px;'></div>

    <div class="d-flex justify-content-between align-items-center">
        <h1><%= property.address %></h1>

        <% if (currentUser && !(currentUser._id.equals(property.landlord._id))) { %>    

            <form action="/properties/<%=property._id%>/toggleLike?userID=<%=currentUser._id%>&_method=PUT" method="POST">
                <button id="propertyLikeBtn" style="border: none; background-color: white;">
                    <% if (currentUser.likedListings.includes(property._id)) { %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    <% } else { %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                    <% } %>
                </button>
            </form>
        <% } %>

    </div>

    <div class="my-3">
        <a href="/properties">All properties</a>
    </div>
    <img src="<%=property.image%>" class="w-100" style="height: 400px;" alt="property image">

    <strong><p class="my-3">Listing uploaded by <%= property.landlord.username %></p></strong>

    <p class="my-3"><%= property.description %><p>
    <p class="display-6">£<%= property.monthlyRent %><p>
    <p class="display-6"><%= property.rooms %><p>

    <% if (currentUser) { %>
        <h5 class="display-6 mb-3">Interested? Book a viewing</h5>
        <form action="/properties/<%=property._id%>/viewings?userID=<%=currentUser._id%>" method="POST">
            <select name="viewing[date]" class="form-select mb-3">
                <option value="0" selected disabled>Choose a date</option>
                <% for(let date of property.availableViewings) { %>
                    <option value="<%= date %>"><%= date %></option>
                <% } %>
            </select>
            <button class="btn btn-success mb-3">Book</button>
        </form>
    <% } %>

    <!-- frontend condition to allow only listing author to modify listing -->
    <% if (currentUser && property.landlord.equals(currentUser._id)) { %>
        <div class="d-flex">
            <form action="/properties/<%=property._id%>/edit">
                <button class="btn btn-warning">Edit</button>
            </form>
            <form action="/properties/<%=property._id%>?_method=DELETE" method="POST">
                <button class="ms-2 btn btn-danger">Delete</button>
            </form>
        </div>
    <% } %>
</div>

<!-- pass a property variable to maps.js -->
<script>
    const property = '<%-JSON.stringify(property)%>';
</script>
<script src="/maps.js"></script>