<% layout('./layouts/boilerplate') %>
<div>
    <div class="d-flex justify-content-between align-items-center">
        <h3>Welcome back <%= user.username %></h3>
        <form action="/auth/logout">
            <button class="btn btn-primary">Logout</button>
        </form>
    </div>
    
    <p class="display-4 my-4" style="font-size: 1.5rem;">Liked Listings</p>
    <% if (user.likedListings.length) { %>
        <div class="d-flex">
            <% for (let listing of user.likedListings) { %>
                <div class="card ms-3" style="width: 18rem;">
                <img src="<%=listing.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%=listing.address%></h5>
                    <p class="card-text"><%=listing.rooms%>, £<%=listing.monthlyRent%></p>
                    <a href="/properties/<%=listing._id%>" class="btn btn-primary">View</a>
                </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h4>Looks like no properties have been liked yet.</h4>
    <% } %>
    <p class="display-4 my-4" style="font-size: 1.5rem;">Upcoming Viewings</p>

</div>